.nav-bar {
    background-color: var(--light-blue);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
  }
  
  .nav-bar-links {
    list-style: none;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px; 
  }
  
  .nav-bar-links li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ffffff;
    color: var(--dark-blue);
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 500;
  }
  
  .nav-bar-links li a:hover {
    background-color: var(--White);
  }
  
  .nav-bar-links li a.active {
    background-color: var(--light-blue);
    color: var(--Black);
    font-weight: 600;
  }
